<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GFA</title>
</head>

<body>
	<h1>Display GFAs Greater than or Equal to</h1>
	<form action="/adminGFA" method="post">
		<fieldset>
			<label><b>GPA: </b><input type="text" name="gpa"></label>
		</fieldset>
		<br>
		<input type="submit" value="Submit Application" />
	</form>
	<hr>
	<a href="/">HOME</a>
</body>

</html>