<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GFA</title>
</head>

<body>
	<h1>Removal of All Applications</h1>
	<form action="/adminRemove" method="post"
		onsubmit="return confirm('Are you sure you want to remove all applications?')">
		<input type="submit" value="Remove all applicants" />
	</form>
	<hr>
	<a href="/">HOME</a>
</body>

</html>