<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GFA</title>
</head>

<body>
	<h1>Display GFAs Greater than or Equal to</h1>
	<%- tableHtml %>
	<br>
	<a href="/">HOME</a>
</body>

</html>