<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
</head>

<body>
	<h1>Removal of All Applications</h1>
	<%- appCount %>
		<br>
		<a href="/">HOME</a>
</body>

</html>